<link href="https://fonts.cdnfonts.com/css/quacker" rel="stylesheet" />

<style>
    .talks_tittle {
        font-family: "Quacker", sans-serif;
        letter-spacing: 0.1rem;
    }
</style>

<section class="w-full flex justify-center py-16 px-4 bg-cream">
    <div
        class="max-w-6xl flex flex-col md:flex-row items-center bg-white rounded-3xl shadow-md overflow-hidden"
    >
        <!-- Imagen lateral -->
        <div class="w-full md:w-1/2">
            <img
                src="/products/charlas2.jpg"
                alt="Charlas Educacionales"
                class="w-full h-full object-cover"
            />
        </div>

        <!-- Texto y CTA -->
        <div
            class="w-full md:w-1/2 p-8 flex flex-col justify-center text-center items-center"
        >
            <h2
                class="talks_tittle text-3xl md:text-6xl font-bold mb-4 text-darkBrown"
            >
                Inspira con Nuestras Charlas
            </h2>
            <p class="text-md md:text-lg mb-6 text-mediumBrown">
                Descubre el fascinante mundo de las abejas a través de
                experiencias educativas llenas de aprendizaje y conexión con la
                naturaleza. Ven y comparte con nosotros la magia de la
                apicultura familiar.
            </p>

            <!-- Botón WhatsApp -->
            <a
                href="https://wa.me/569XXXXXXXXX?text=Hola!%20Me%20interesa%20agendar%20una%20charla%20educativa%20con%20Colmenares%20Ch%C3%A1vez."
                target="_blank"
                rel="noopener noreferrer"
                class="px-6 py-3 bg-yellowLight hover:bg-darkBrown hover:text-yellowLight text-darkBrown font-semibold rounded-lg shadow hover:shadow-md transition duration-1000"
            >
                Agendar una charla
            </a>
        </div>
    </div>
</section>
